# Virtual Environment
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.sqlite
*.sqlite3
*.db
instance/

# Node & Frontend
node_modules/
**/node_modules/
dist/
**/dist/
dist-ssr/
*.local

# Environment Variables
.env
.env.production
.env.*.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# ML models & cache
*.joblib
*.pkl

# Logs
*.log
